/* App Layout */
.App {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, content, footer */
  grid-template-columns: 100%;
  min-height: 100vh;
}

main {
  padding: 20px;
}

/* Header and Navigation */
header {
  background-color: #004d40; /* Darker shade for contrast */
  padding: 10px 20px;
  color: #00ffff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #blue;
  font-weight: bold;
}

a, a:visited, a:active, a:hover {
  color: inherit; /* Thematic color */
}

/* Hover effect for links */
nav ul li a:hover {
  color: #b2dfdb; /* Lighter shade for hover effect */
}

/* Components Styling */
h2 {
  color: #00ffff; /* Thematic color */
  margin-bottom: 20px;
}

ul {
  background-color: #e0f2f1; /* Light background to differentiate the section */
  padding: 15px;
  border-radius: 8px;
  list-style-type: none; /* Removes bullet points */
}

li {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #004d40; /* Subtle separation */
}

li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

/* Forms and Inputs */
form {
  margin-top: 20px;
}

input[type="text"], input[type="number"], input[type="date"], button {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #004d40;
  border-radius: 4px;
}

button {
  background-color: #004d40;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #00796b;
}

.pieChartContainer {
  width: 400px;
  height: 400px;
  margin: auto; /* This centers the div horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}