.App {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  grid-template-columns: 100%;
  min-height: 100vh;
}

main {
  padding: 20px;
}

header {
  background-color: #fff;
  padding: 10px 20px;
}

nav ul {
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #blue;
  font-weight: bold;
}

a, a:visited, a:active, a:hover {
  color: inherit;
}

nav ul li a:hover {
  color: #b2dfdb; 
}

h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}

ul {
  background-color: #a2fece; 
  padding: 15px;
  border-radius: 8px;
  list-style-type: none; 
}

li {
  margin-bottom: 10px;
  padding: 5px;
}

div {
  background-color:#21e9c5;
}

form {
  margin-top: 20px;
}

input[type="text"], input[type="number"], input[type="date"], button {
  padding: 8px;
  margin-left: 20px;
  margin-right: 10px;
  border: 1px solid #004d40;
  border-radius: 4px;
}

button {
  background-color: #004d40;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #00796b;
}

.pieChartContainer {
  width: 400px;
  height: 400px;
  margin: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}